<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Elements</title>
  </head>
  <body>
    <!-- Nada de lo que escribamos dentro de la etiqueta template será renderizado, en consola podemos ver como existe, pero solo devuelve un document fragment. -->
    <h2>Hola mundo, soy un titulo escrito directamente en el HTML</h2>
    <template> </template>
    <my-element></my-element>
    <script type="module" src="./templates.js"></script>
  </body>
</html>
